/*
* main.css
* Copyright (C) 2017 david
*
* Distributed under terms of the MIT license.
*/

.tabName:disabled {
	border: none;
	background-color: white;
	color: black;
}

.tabName {
	border: 0;
	border-bottom: 1px solid Grey;
}

.listTab span {
	display: none;
}

.tabListWrapper {
	position:relative;
	margin:0 auto;
	overflow:hidden;
	padding:5px;
	height:50px;
}

#tabList {
	position:absolute;
	left:0px;
	top:0px;
	min-width: 3000px;
	margin-left:12px;
	margin-top:0px;
}

#tabList li {
	display:table-cell;
	position:relative;
	cursor:grab;
	cursor:-webkit-grab;
	vertical-align:middle;
}

.searchGrouping {
	margin-top:5px;
}

.scroller {
	text-align:center;
	cursor:pointer;
	display:none;
	padding:7px;
	padding-top:11px;
	white-space:no-wrap;
	vertical-align:middle;
	background-color:#fff;
}

.scroller-right {
	float:right;
	z-index: 99999
}

.scroller-left {
	float:left;
	z-index: 99999
}
