/*
* toolbox.css
* Copyright (C) 2017 david
*
* Distributed under terms of the MIT license.
*/

#mainForm {
	overflow-y: scroll;
}

#tools-menu {
	position: fixed;
	bottom: 0;
	width: 100%;
}

#toolDateSelect {
	display: none;
}

#dateInputField {
	display: inline;
	width: 90%;
}

#tool-body {
	display: none;
	background-color: white;
	height: 100%;
	width: 100%;
	padding-top: 15px;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: Grey;
}

#saveListItem {
	position: absolute;
	bottom: 0;
}

.open {
	height: 200px;
}

.left-side {
}

.right-side {
}

.counterContainer {
	display: inline-flex;
}

.doneBtnCol {
	text-align: right;
}
